/.venv
/1CC003.txt
/279004.txt
/2AC001.txt
/ANSYS
/D5002.txt
/Default.rdp
/desktop.ini
/Desticka_tenzo.dwg
/Desticka_tenzo.ipt
/Desticka_tenzo.pdf
/Dochazka.xlsx
/Drawing1.dwl
/Drawing1.dwl2
/Geo_zprava_uvol_ZN.PNG
/Geo_zprava_uvol_ZN_koty.PNG
/IA4IK -1 mmt 3 23_pseudospline.tif
/input.bat
/Inventor
/Inventor Server for AutoCAD
/Load_App.PNG
/MATLAB
/Mereni_slotting.xlsx
/Mereni_slotting_dratek.xlsx
/model_trhlina_v1.ipt
/model_trhlina_v1.stp
/model_trhliny.ipt
/NapetiVsVzdalenostOdHrany.fig
/Návod jak exportovat 2D spline do txt.docx
/Obr_nast.jpg
/obr_spl2poly.jpg
/OldVersions
/Onenotové poznámkové bloky
/plocha.bak
/plocha.dim
/plocha.dwg
/plocha.dxf
/Postup_prace.docx
/PretvoreniVsVzdalenostOdHrany.fig
/Python
/trhlina_spline.csv
/trhlina_spline.ipt
/trhlina_spline.txt
/Vlastní šablony Office
/Výstřižek_proc.PNG
/ZN_klasifikace.png
/ZN_klasifikace.svg
/Zprava_GEO.dwg
/Zprava_GEO.pdf
/Zprava_GEO.PNG
/Hudba
/Obrázky
/Filmy